# Archivos y directorios específicos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/

# Archivos de base de datos SQLite
*.db
*.sqlite3

# Archivos de log
*.log

# Archivos de configuración local
.env

# Directorios y archivos específicos de IDEs/editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Archivos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de distribución/empaquetado
dist/
build/
*.egg-info/

# Archivos de cobertura de pruebas
.coverage
htmlcov/

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos de documentación generados automáticamente
docs/_build/

# Archivos de caché de mypy
.mypy_cache/

# Archivos de pytest
.pytest_cache/

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Archivos específicos de FastAPI
.fastapi_cache/